<h2>Questions</h2>
<form [formGroup]="angForm" (ngSubmit)="onSubmit()">
    <div formArrayName="names">
        <div *ngFor="let question of questions; index as idx">
            <div>
                <label>{{question.description}}:</label>
                <div *ngFor="let answer of question.answers">

                    <input id="{{question.description}}_{{answer.text}}" type="radio" value="{{answer.text}}" formControlName="{{idx}}">
                    <label>{{answer.text}}</label>
                    
                    
                </div>
            </div>
            
        </div>
    </div>

    <button type="submit">Submit</button>
 </form>

    